script(src="vendor/jquery/jquery.js")

script(src="vendor/chart.js/moment.js")
script(src="vendor/chart.js/Chart.min.js")
script(src="vendor/bootstrap/popper.min.js")
script(src="vendor/bootstrap/bootstrap.min.js")


script(src="vendor/datatables/jquery.dataTables.min.js")
script(src="vendor/jquery/jquery-ui.min.js")

script(src="vendor/datatables/datatable/jquery.dataTables.min.js")
script(src="vendor/datatables/dataTables.bootstrap4.min.js")
script(src="vendor/datatables/datatable/dataTables.buttons.min.js")
script(src="vendor/datatables/datatable/buttons.bootstrap4.min.js")
script(src="vendor/datatables/datatable/jszip.min.js")
script(src="vendor/datatables/datatable/pdfmake.min.js")
script(src="vendor/datatables/datatable/vfs_fonts.js")
script(src="vendor/datatables/datatable/buttons.flash.min.js")
script(src="vendor/datatables/datatable/buttons.html5.min.js")
script(src="vendor/datatables/datatable/buttons.print.min.js")
script(src="vendor/datatables/datatable/buttons.colVis.min.js")


script(src="js/main.js")