link(rel="stylesheet", href="css/main.css")
link(rel="stylesheet", href="vendor/fontawesome/css/fontawesome.min.css")
link(rel="stylesheet", href="vendor/fontawesome/css/brands.min.css")
link(rel="stylesheet", href="vendor/fontawesome/css/solid.min.css")
link(rel="stylesheet", href="vendor/bootstrap/bootstrap.min.css")
link(rel="stylesheet", href="vendor/bootstrap/bootstrap-tagsinput.css")

link(rel="stylesheet", href="vendor/chart.js/Chart.min.css")

link(rel="stylesheet", href="vendor/datatables/dataTables.bootstrap4.min.css")
link(rel="stylesheet", href="vendor/datatables/datatable/buttons.dataTables.min.css")


<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:ital,wght@1,300&display=swap" rel="stylesheet"> 
