.chart-home-page
    .first-row
        .chart
            .container
                canvas#line-chart
    .second-row
        .chart-second-row
            .chart
                .container
                    canvas#pie-chart

            .chart
                .container
                    canvas#horizontal-chart

        .table-display-right
                table.table.table-striped
                    thead
                        tr
                            th(scope="col") Nom
                            th(scope="col") NB
                    thead
                    tbody
                        tr
                            th(scope="row") 1
                            td Mark
                            td Otto

                        tr
                            th(scope="row") 1
                            td Mark
                            td Otto
                        tr
                            th(scope="row") 1
                            td Mark
                            td Otto
                        tr
                            th(scope="row") 1
                            td Mark
                            td Otto
                        tr
                            th(scope="row") 1
                            td Mark
                            td Otto
                        tr
                            th(scope="row") 1
                            td Mark
                            td Otto
                        tr
                            th(scope="row") 1
                            td Mark
                            td Otto
                        tr
                            th(scope="row") 1
                            td Mark
                            td Otto
                        tr
                            th(scope="row") 1
                            td Mark
                            td Otto
                        tr
                            th(scope="row") 1
                            td Mark
                            td Otto





