- var pageTitle = 'Homepage';
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layouts/meta
        include pug/layouts/styles

    body
        img.wave(src='img/wave-alger.svg')
        .containerLogin
            .img
                img(src='img/login6.svg')
            .login-container
                form(action='homepage.html')
                    img.avatar(src='img/avatar.svg', alt='avatar')
                    h2 DGRSDT
                    .input-div.one
                        .i
                            i.fas.fa-user.fa-fw.focus
                        div
                            h5 User Name
                            input.input(type='text')
                    .input-div.two
                        .i
                            i.fas.fa-lock.fa-fw
                        div
                            h5 password
                            input.input(type='text')
                    a(href='#') forgot password
                    input.btn(type='submit', value='Login')

        include pug/layouts/scripts