.table-display
   table.table.table-striped.data-table
      thead
         tr
            th(scope="col") Etablissement
            th(scope="col") TitrePi
            th(scope="col") Inveneteurs
            th(scope="col") Organisme
            th(scope="col") Pays
      thead
      tbody
         tr
            th(scope="row") 1
            td Mark
            td Otto
            td @mdo
            td @mdo
         tr
            th(scope="row") 1
            td Mark
            td Otto
            td @mdo1
            td @mdo

         tr
            th(scope="row") 1
            td Mark
            td Otto
            td @mdo
            td @mdo

         tr
            th(scope="row") 1
            td Mark
            td Otto
            td @mdo
            td @mdo
