.row
  .col.col-sm-12
    .row
      .col
        span.text-muted.justify-content-start Le Nombre De resultats est : 
        span.badge.badge-pill.badge-info  25 
      .col-auto.mr-auto
        span.text-muted.text-sm-left.next-previus
          a.page-link(data-page_number='', href='#')
            i.fas.fa-backward.mr-2(style='cursor: pointer;')
          |                         Page :  1/3
          a.page-link(data-page_number='', href='#')
            i.fas.fa-forward.ml-2

#masson.container
  .card-columns
    .card
      // Card Header
      .header-card
        h5 Titre Card
      .title-card
        h6.text-center
          | Gazéificateur De Biomasse À Lit Fixe Contre Courant « Up Druft
          | »
      .card-body
        .Author
          p
            | Author-1 , Author-2
        // Start badge
        .row.my-badge
          .col(style='margin-bottom: 15px;')
            span.badge.badge-pill.badge-success
              | badge-1
          .col(style='margin-bottom: 15px;')
            span.badge.badge-pill.badge-info
              | badge-2
        // End Badge
        // Start card footer
      .card-footer.text-muted.text-center
          .row
            // print PDF
            .col
              button.print-button(type='button', data-toggle=' tooltip', data-placement='right', title='Print Document')
                i.fas.fa-print.fa-lg  
            // Show PDF
            .col
              a(href='#', target='_blank', data-toggle='tooltip', data-placement='right', title='Show PDf')
                i.fas.fa-file-pdf.fa-lg
            // More Details =>  Modal
            .col
              a(href='#modal', data-toggle='modal', data-placement='right', data-target='#my-modal', title='Show More')
                i.fas.fa-angle-double-right.fa-lg
              // Model
              // End Card

