.card-deck.cards-home-head

    .card.bg-primary.card-home-head
      .h5.card-title.title-card Inventeurs
      .card-body
        p.card-text.nbr-stat 35
        .card-logo
            i.fa.fa-users.fa-5x

    .card.bg-primary.card-home-head
      .h5.card-title.title-card organismes
      .card-body
        p.card-text.nbr-stat 45
        .card-logo
            i.fa.fa-building.fa-5x 

    .card.bg-primary.card-home-head
      .h5.card-title.title-card Logiciles
      .card-body
        p.card-text.nbr-stat 35
        .card-logo
            i.fab.fa-battle-net.fa-5x 

    .card.bg-primary.card-home-head
      .h5.card-title.title-card Brevets
      .card-body
        p.card-text.nbr-stat 25
        .card-logo
            i.fa.fa-file-signature.fa-5x


